@font-face {
  font-family: 'Open Sans';
  src: url('../media/OpenSans-Regular.ttf');
}

body {
  margin: 0;
}

.plugin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 667px;
  height: 375px;
}

@media screen and (max-width: 420px) {
  .plugin-wrapper {
    width: 100%;
    height: 30vh;
  }
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.decoration {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 90%;
  z-index: 101;
}

.decoration.left {
  left: 20px;
}

.decoration.left.inner {
  left: 25px;
}

.decoration.right {
  right: 20px;
  transform: translate(0, -50%) rotate(0.5turn);
}

.decoration.right.inner {
  right: 25px;
}

.timer {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-family: 'Open Sans';
  color: white;
  font-size: 16px;
  z-index: 101;
}

.timer.left {
  left: 55px;
}

.timer.right {
  right: 55px;
}

.migrate-container {
  position: relative;
  width: 75%;
  height: 100%;
}

.play-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 100;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}